.livro{
    margin-top: 4rem;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(210px, 210px));
    column-gap: 6rem;
    row-gap: 10rem;
    justify-content: center;

}


.livro__card{
    border: solid red 1px;
    /*width: auto;*/
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 300px;
    transition: 200ms all;
    cursor: pointer;
}

.livro__card:hover{
    transform: scale(1.02);
}

.livro__card--capa{

}

.livro__card--titulo{
    margin-top: 5px;
    font-size: 1.5rem;
    text-align: center;
}

.livro__card--preco{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}