.principal{
    background: #f1f1f1;
    background: #98cad2;
    background: #0D9CAD;
    /*background: blanchedalmond;*/
    margin-top: 4rem;
    /*height: auto;*/
    /*border: solid 2px red;*/
    border-radius: 10px;
    
}


.principal__titulo--principal{
    position: relative;
    display: inline;
    font-size: 2rem;
    margin-left: 2rem;
    top: 1.5rem;
    color: #fff;
    font-weight: bolder;
}
